<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi web personal</h1>
    <ul>
        <li><a href="{% url 'home' %}">Portada</a></li>
        <li><a href="{% url 'about' %}">Aserca de</a></li>
        <li><a href="{% url 'contact' %}">Portafolio</a></li>
        <li><a href="{% url 'portafolio' %}">Contacto</a></li>
    </ul>

{% block content %} {% endblock %}
    
</body>
</html>